html
    head
        title=title
        style
            include ../style.css
    body
        h1=title
        form(action="/upload", method="post", enctype='multipart/form-data')
            div(id="pictureForm")
                label(for="image")= "Choose a picture"
                input(type="file", name="image" id="image")
                button="Send the picture"
        h2= "Sent pictures"
        div(id="sentPictures")
            each image in images
                img(src="./uploads/" + image, style="height:200px", alt="")