html
    head
        title=title
        script(type="text/javascript" src="../polling.js")
        style
            include ../style.css
    body
        h1=title
        form(action="/upload", method="post", enctype='multipart/form-data')
            div(id="pictureForm")
                label(for="image")= "Choose a picture"
                input(type="file", name="image" id="image")
                button="Send the picture"
        h2= "Sent pictures"
        div(id="sentPictures")
            each image in images
                picture
                    if image.endsWith('.webp') && image.includes('gif')
                        source(srcset="./uploads/" + image, type="image/webp")
                        img(src="./uploads/" + image.replace(".webp", ".gif"), style="height:200px", alt="GIF/WebP")
                    else if image.endsWith('.webp') 
                        source(srcset="./uploads/" + image, type="image/webp")
                        img(src="./uploads/" + image.replace(".webp", ext), style="height:200px", alt="WebP")
                    else
                        img(src="./uploads/" + image, style="height:200px", alt="")